@tailwind base;
@tailwind components;
@tailwind utilities;

#main {
  font-family: Verdana;
  font-size: 14px;
}
.container {
  max-width: 1240px !important;
}
.title-green {
  color: #303133;
}
.title-green:hover {
  color: #349964;
  text-decoration: none;
}
.bg-green {
  background-color: #349964;
}
.bg-green:hover {
  background-color: #349964;
}
.text-green {
  color: #349964;
}
.text-green:hover {
  color: #349964;
  text-decoration: underline;
}
.text-pink {
  color: #c11e2f;
}
.text-pink:hover {
  color: #c11e2f;
  text-decoration: none;
}
.bg-pink {
  background-color: #ffeeef;
}

/* header */
#header {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
#link-header a {
  color: white;
}
#link-header a:hover {
  color: white;
  text-decoration: underline;
}
#menu-header input {
  color: #303133;
}
.input-search {
  width: 160px;
  height: 40px;
  font-size: 12px;
  border-radius: 4px;
  padding: 6px 6px 6px 30px;
}
.icon {
  padding: 11px 8px;
  color: #349964;
}
.icon-search i {
  position: absolute;
}
#menu-header .dropdown-toggle::after {
  display: none;
}
.border-green {
  border-top: solid 1px #349964;
}
#menu-header .dropdown-menu {
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  min-width: 300px;
  margin-top: 10px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
  border: 0px;
}
#menu-header .dropdown-menu .dropdown-item {
  padding: 12px;
  border-radius: 4px;
}
#menu-header .dropdown-menu .dropdown-item:hover,
#menu-header .dropdown-menu .dropdown-item:active,
#menu-header .dropdown-menu .dropdown-item:focus {
  color: #01803d;
  background: #e6f2ec;
}

/* menu main */
#nav-main .dropdown-toggle::after {
  display: none;
}
#nav-main .dropdown-menu .dropdown-item {
  font-size: 14px;
  line-height: 22px;
  padding: 12px 16px;
  background: #fff;
  min-width: 300px;
}
#nav-main .dropdown-menu .dropdown-item:hover,
#nav-main .dropdown-menu .dropdown-item:active,
#nav-main .dropdown-menu .dropdown-item:focus {
  color: #01803d;
  background: #e6f2ec;
}
#nav-main .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  border: 0px;
  overflow: hidden;
}
#nav-main a.nav-link:hover,
#nav-main a.nav-link.active {
  color: #349964;
}

#nav-main a.nav-link {
  font-size: 16px;
  line-height: 24px;
  color: #606266;
  font-weight: 300;
  padding: 16px 10px 20px;
  position: relative;
  max-height: 60px;
}
#nav-main a.nav-link:hover:before,
#nav-main a.nav-link.active:before,
#nav-main a.nav-link:focus:before {
  background: #349964;
}

#nav-main a.nav-link:before {
  content: "";
  position: absolute;
  width: calc(100% - 20px);
  height: 4px;
  top: 80%;
  margin: 0 auto;
  border-radius: 8px;
}
.bd-green {
  border-top: solid 1px #349964;
}
.title-new:hover {
  color: #303133;
  text-decoration: none;
}

/* footer */
.line-30 {
  line-height: 30px;
}

/* content */
.title-page {
  margin-top: 20px;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid #cce6d8;
  position: relative;
  line-height: 48px !important;
}
.vnu-clor-green-v2 {
  color: #01803d;
}
.uppercase {
  text-transform: uppercase !important;
}
.title-page:before {
  content: "";
  width: 4px;
  height: 28px;
  background: #01803d;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#title-link a:hover {
  color: #01803d;
  text-decoration: none;
}
.vnu-clor-gray {
  color: #606266;
}
/* .breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: var(--bs-breadcrumb-divider, ">");
} */
.list-channel {
  display: flex;
}
.list-channel li a {
  display: block;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #c0c4cc;
  border-radius: 4px;
  margin: 0 10px;
}
#channel-tag a {
  text-decoration: none;
  color: #303133;
}
.list-channel li.active a,
.list-channel li.active a:hover {
  background-color: #01803d;
  color: #ffffff !important;
  font-weight: 600;
  border-color: #01803d;
}
.breadcrumb {
  background-color: white !important;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
}
#breadcrumb-link a:hover,
#breadcrumb-link a:active,
#breadcrumb-link a:focus {
  text-decoration: none;
  color: #303133;
}
#new-12 .img-h {
  height: 333px;
}
#new-1 .img-h {
  height: 392px;
}
.text-pink-under {
  color: #c11e2f;
}
.text-pink-under:hover {
  color: #c11e2f;
  text-decoration: underline;
}
#page input {
  border: solid 1px #e4e7ed;
  border-radius: 4px;
  height: 20px;
  width: 40px;
  text-align: center;
}
.btn-page {
  border: solid 1px #e4e7ed;
  padding: 0;
  border-radius: 4px;
}
#page .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 8px;
}
#page .dropdown-menu .dropdown-item:hover,
#page .dropdown-menu .dropdown-item:active,
#page .dropdown-menu .dropdown-item:focus {
  color: #01803d;
  background: #e6f2ec;
}
#page .dropdown-menu {
  padding: 0;
  overflow: hidden;
}
.paging > div.active > span {
  color: #01803d;
}
#page a:hover {
  color: #01803d;
  text-decoration: none;
}
#page select {
  border: solid 1px #e4e7ed;
  border-radius: 4px;
}
.job-title {
  padding: 8px 16px;
  font-size: 16px;
  color: #01803d;
  background: #e6f2ec;
  /* margin-right: 8px; */
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 5px;
}
#new-12 a {
  text-decoration: none;
  color: #303133;
}
#new-12 .vnu-link-red-v2 {
  color: #ae4651;
}
#new-12 .vnu-link-red-v2:hover {
  color: #ae4651;
}
.box-shadow-v1 {
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}
.box-shadow-v2 {
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
}
.table-scientist tr td {
  vertical-align: top;
  padding-bottom: 20px;
}
.w-30 {
  width: 30%;
}
#new-12 .text-pink {
  color: #c11e2f;
}
#new-12 .text-pink:hover {
  color: #c11e2f;
  text-decoration: none;
}
#new-12 .vnu-clor-gray {
  color: #606266;
}
#new-12 ul {
  /* list-style-type: disc; */
  color: #67b38b;
}
#new-other ul {
  color: #01803d;
}
#new-other .fa-circle {
  font-size: 10px;
}
#new-other li a:hover {
  color: #01803d;
}
#breadcrumb-link a {
  color: #303133;
}
#breadcrumb-link a:hover {
  text-decoration: none;
  color: #303133;
}
#title-link a {
  color: #01803d;
  text-decoration: none;
}
#title-link a:hover {
  color: #01803d;
  text-decoration: none;
}
#p-other-links p {
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  /* footer */
  .mt-access {
    margin-top: 8px;
  }
  .pl-access {
    padding-left: 8px;
  }
  .mt-link {
    margin-top: 16px;
  }
  .img-footer-vsl {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* header */
  #logo-vnu img {
    height: 56px;
  }
  #link-header {
    font-size: 12px;
    padding: 0;
    margin-top: 8px;
  }
  #link-header .sitemap {
    display: none;
  }
  #menu-header {
    font-size: 12px;
    padding: 0;
  }
  #menu-header input,
  i {
    font-size: 14px;
  }
  #nav-main a.nav-link {
    font-size: 12px;
  }
  #nav-main .dropdown-menu .dropdown-item {
    font-size: 12px;
  }
  #menu-header .collapse:not(.show) {
    display: inherit;
  }
  #menu-header .dropdown-menu .dropdown-item {
    font-size: 12px;
  }
  #menu-header .dropdown-menu {
    min-width: auto;
    position: absolute;
    top: 80%;
  }
  #menu-header .dropdown-toggle {
    white-space: inherit !important;
  }
  #menu-header .dropdown-item {
    white-space: inherit !important;
  }
  #menu-header .navbar {
    padding: 0rem 1rem;
  }
  /* content */
  #title-link a {
    font-size: 20px;
  }
  #menu-page-link {
    display: none;
  }
  #breadcrumb-link {
    padding: 0;
  }
  .title-page:before {
    height: 20px;
    top: 53%;
  }
  #new-12 .img-h {
    height: 215px;
  }
  #details {
    padding: 16px !important;
  }
  .box-shadow-v1 {
    box-shadow: none;
  }
  #information {
    padding: 0;
    padding-top: 20px;
  }
  #new-other {
    padding: 0;
  }
  .daotao {
    display: none;
  }
}

@media screen and (min-width: 492px) and (max-width: 1023px) {
  #menu-header {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  #menu-header .collapse:not(.show) {
    display: inherit;
  }
  .link-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .menu-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .link-1 {
    padding-right: 16px;
  }
  #link-header {
    margin-top: 8px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  #link-header {
    margin-top: 8px;
  }
  #menu-header {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1280px) {
  .link-1 {
    padding-right: 16px;
  }
  #link-header {
    font-size: 14px;
  }
  #menu-header {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1160px) {
  .england {
    display: none;
  }
}
